/**
 * _colour.scss
 */

/* ==========================================================================
   Settings
   ========================================================================== */

/* Core colours
   ========================================================================== */

$white: #fff !default;
$black: rgb(81,81,81) !default;

$dark-grey: #202020 !default;
$mid-grey: #505050 !default;
$light-grey: #9a9a9a !default;
$very-light-grey: #eee !default;

/* Colour palette
   ========================================================================== */

$primary-colour: rgb(89,171,227) !default;
$alert-colour: rgb(246,36,89) !default;

/* Base font colours
   ========================================================================== */

$base-font-color: rgb(81,81,81) !default;

/* Heading font colours
   ========================================================================== */

$heading-color: $base-font-color !default;

/* Link colours
   ========================================================================== */

/* Default */

$link-color: $primary-colour !default;
$link-hover-color--inactive: rgba($primary-colour, 0) !default;
$link-hover-color--active: rgba($primary-colour, 0.1) !default;

/* Headings */

$heading-link-color: $base-font-color !default;
$heading-link-hover-color--inactive: rgba($black, 0) !default;
$heading-link-hover-color--active: rgba($black, 0.1) !default;
