/**
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

/* ==========================================================================
   Masthead bar
   ========================================================================== */

.masthead {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    background-color: $primary-colour;
}

/* ==========================================================================
   Title and tagline
   ========================================================================== */

/* Title
   ========================================================================== */

.masthead-title {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1;
      // text-align: center;
      color: $white;
}

.masthead-title a { color: $white; }

/* Tagline
   ========================================================================== */

.masthead-title__tagline {
    font-family: $serif-font-family;
    font-weight: $extra-light-font-weight;
    font-style: italic;
    text-transform: none;
}
