<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    {% include head.html %}
    <body class="{{ page.title | downcase | replace: ' ', '-'}} layout-reverse">
        {% include outdated-browser.html %}
        {% include sidebar.html %}
        <div class="wrap">
            {% include masthead.html %}
            <div id="content" class="container content">
                {{ content }}
            </div>
        </div>
        <label for="sidebar-checkbox" class="sidebar-toggle"></label>
        {% include scripts.html %}
    </body>
</html>
